---
---
$MINIMUM_WINDOW: 1023px;
$BODY_SIZE: 960px;
$COMPRESSED_PADDING: ($MINIMUM_WINDOW - $BODY_SIZE) / 2;
$MARGIN_CALC: "((100% - #{$BODY_SIZE})/2)";
$RELATIVE_MARGIN_CALC: "((100vw - #{$BODY_SIZE})/2)";
$COLOR: #009671;
$HIGHLIGHT: adjust-color($color: $COLOR, $saturation: -50%, $lightness: +20%);

$DATABASE_SVG: '<path d="M18.067 1.609c-0.497-0.326-1.193-0.615-2.069-0.858-1.742-0.484-4.050-0.75-6.498-0.75s-4.756 0.267-6.498 0.75c-0.877 0.243-1.573 0.532-2.069 0.858-0.619 0.407-0.933 0.874-0.933 1.391v12c0 0.517 0.314 0.985 0.933 1.391 0.497 0.326 1.193 0.615 2.069 0.858 1.742 0.484 4.050 0.75 6.498 0.75s4.756-0.267 6.498-0.751c0.877-0.243 1.573-0.532 2.069-0.858 0.619-0.406 0.933-0.874 0.933-1.391v-12c0-0.517-0.314-0.985-0.933-1.391zM3.27 1.714c1.658-0.46 3.87-0.714 6.23-0.714s4.573 0.254 6.23 0.714c1.795 0.499 2.27 1.059 2.27 1.286s-0.474 0.787-2.27 1.286c-1.658 0.46-3.87 0.714-6.23 0.714s-4.573-0.254-6.23-0.714c-1.795-0.499-2.27-1.059-2.27-1.286s0.474-0.787 2.27-1.286zM15.73 16.286c-1.658 0.46-3.87 0.714-6.23 0.714s-4.573-0.254-6.23-0.714c-1.795-0.499-2.27-1.059-2.27-1.286v-2.566c0.492 0.309 1.164 0.583 2.002 0.816 1.742 0.484 4.050 0.75 6.498 0.75s4.756-0.267 6.498-0.751c0.838-0.233 1.511-0.507 2.002-0.816v2.566c0 0.227-0.474 0.787-2.27 1.286zM15.73 12.286c-1.658 0.46-3.87 0.714-6.23 0.714s-4.573-0.254-6.23-0.714c-1.795-0.499-2.27-1.059-2.27-1.286v-2.566c0.492 0.309 1.164 0.583 2.002 0.816 1.742 0.484 4.050 0.75 6.498 0.75s4.756-0.267 6.498-0.75c0.838-0.233 1.511-0.507 2.002-0.816v2.566c0 0.227-0.474 0.787-2.27 1.286zM15.73 8.286c-1.658 0.46-3.87 0.714-6.23 0.714s-4.573-0.254-6.23-0.714c-1.795-0.499-2.27-1.059-2.27-1.286v-2.566c0.492 0.309 1.164 0.583 2.002 0.816 1.742 0.484 4.050 0.75 6.498 0.75s4.756-0.267 6.498-0.75c0.838-0.233 1.511-0.507 2.002-0.816v2.566c0 0.227-0.474 0.787-2.27 1.286z"></path>';

@mixin inline-svg($color, $svg-content) {
  $start: '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><style>path { fill: rgb(#{red($color)}, #{green($color)}, #{blue($color)}); }</style>';
  $end:   '</svg>';

  background-image: url('data:image/svg+xml;utf8, #{$start}#{$svg-content}#{$end}');
}

@mixin stroke($width, $color) {
  text-shadow: (-$width) (-$width) 0 $color,  $width (-$width) 0 $color, (-$width) $width 0 $color, $width $width 0 $color;
}

@mixin expand-to-window() {
  width: 100%;
  max-width: unset;
  box-sizing: border-box;
  padding-left: calc(#{$MARGIN_CALC});
  padding-right: calc(#{$MARGIN_CALC});

  @media screen and (max-width: $MINIMUM_WINDOW) {
    padding-left: $COMPRESSED_PADDING;
    padding-right: $COMPRESSED_PADDING;
  }
}

$BACKGROUND_IMAGE_HEIGHT: 2912px;
$BACKGROUND_IMAGE_WIDTH: 4368px;
$ASPECT_RATIO: $BACKGROUND_IMAGE_HEIGHT / $BACKGROUND_IMAGE_WIDTH;
$LINES_OF_TEXT: 4;
$BANNER_HEIGHT: "((#{$ASPECT_RATIO} * 95vw) - 300px - #{$LINES_OF_TEXT}*36pt)";

@mixin vertical-gradient($top, $bottom) {
  background: $top;
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom));
  background: -webkit-linear-gradient(top, $top 0%, $bottom 100%);
  background: -o-linear-gradient(top, $top 0%, $bottom 100%);
  background: -ms-linear-gradient(top, $top 0%, $bottom 100%);
  background: linear-gradient(to bottom, $top 0%, $bottom 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$top}', endColorstr='#{$bottom}', GradientType=0 );
}

body {
  font-family: 'Helvetica', sans-serif;
  font-size: 16pt;
  margin: 0;

  background-image: url(../images/banner.jpg);
  background-color: #eaeaea;
  background-size: contain;
  background-position-y: calc((-135/1024) * 100vw + 75px);
  background-repeat: no-repeat;

  > * {
    max-width: $BODY_SIZE;
    margin-left: auto;
    margin-right: auto;
  }

  h1, ul {
    @include expand-to-window();
    font-family: 'Alte Haas Grotesk', sans-serif;
    display: block;
    color: white;
    background: $COLOR;
    margin: 0;
    padding-top: 1ch;
    padding-bottom: 1ch;
    text-align: left;
  }

  h1 {
    @include vertical-gradient(darken($COLOR, +5%), $COLOR);
    font-size: 25pt;
    line-height: 1.1em;
    padding-bottom: 0;

    @media screen and (max-width: 1024px) {
      padding-right: calc(#{$COMPRESSED_PADDING} + 1em);
    }
  }

  ul {
    padding-bottom: 26px;
    font-size: 12pt;
    font-weight: bold;
    border-bottom: 16px $HIGHLIGHT solid;

    li {
      display: block;
      float: left;
      padding-right: 1.5ch;
      color: white;

      &::after {
        content: '\025A0';
        color: white;
        padding-left: 1.5ch;
        font-size: 80%;
        vertical-align: top;
      }

      &:last-child::after {
        content: unset;
      }
    }

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  > a {
    color: white;
    text-decoration: none;
    position: absolute;
    right: calc(#{$MARGIN_CALC});

    @for $i from 1 through 4 {
      &:nth-of-type(#{$i}) {
        top: #{$i}em;
      }
    }

    background-size: 1em;
    padding-left: 1.5em;
    background-repeat: no-repeat;

    @media screen and (max-width: $MINIMUM_WINDOW) {
      width: 1em;
      right: $COMPRESSED_PADDING;
      overflow: hidden;
      box-sizing: border-box;
    }

    &[href^="mailto"] {
      background-image: url(../images/lnr-envelope.svg);
      background-position-y: 0px;
    }

    &[href^="https://twitter"] {
      background-image: url(../images/lnr-bubble.svg);
      background-position-y: 3px;
    }
  }

  $UNIT: "(1/14 * #{$BANNER_HEIGHT})";
  h2 {
    font-family: 'Alte Haas Grotesk', sans-serif;
    font-size: 36pt;

    span {
      background-color: rgba(255,255,255,0.7);
      padding: calc(0.5 * #{$UNIT});

      &:last-child {
        display: inline-block;
      }
    }

    @mixin compressed-banner() {
      @media screen and (max-width: $MINIMUM_WINDOW) {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
        @include expand-to-window();
      }

      @media screen and (max-width: 414px) {
        font-size: 26pt;

        span {
          display: inline;
        }
      }
    }

    &:first-of-type {
      text-align: left;
      margin-top: calc(4 * #{$UNIT});
      margin-bottom: calc(2 * #{$UNIT});
      @include compressed-banner();

      span:last-child {
        padding-top: 0;
        margin-top: calc(0.5 * #{$UNIT});
      }
    }

    &:last-of-type {
      text-align: right;
      margin-bottom: calc(4 * #{$UNIT});
      @include compressed-banner();

      span:first-child {
        padding-bottom: 0;
        margin-bottom: calc(0.5 * #{$UNIT});
      }
    }
  }

  main {
    @for $i from 1 through 2 {
      > p:nth-of-type(#{$i}) {
        font-size: 20pt;
      }
    }

    p {
      @include expand-to-window();
      margin: 1em auto;
    }

    p + :not(p) {
      margin-top: 1em;
    }

    :not(p) + p {
      margin-bottom: 1em;
    }

    > * {
      max-width: $BODY_SIZE;
      margin-left: auto;
      margin-right: auto;
    }

    max-width: unset;
    display: flex;
    flex-wrap: wrap;

    $ICON_HEIGHT: 125px;
    > p:nth-of-type(1), > p:nth-of-type(2) {
      display: block;
      width: 50%;
      float: left;
      padding: 4ch 5ch;
      box-sizing: border-box;
      border-style: solid;
      border-width: 8px 0;
      margin: 0 0 2ch 0;

      background-color: white;
      background-size: auto $ICON_HEIGHT;
      background-repeat: no-repeat;
      background-position-y: 50%;

      @media screen and (max-width: $MINIMUM_WINDOW) {
        @include expand-to-window();
        background-size: 4em;
      }
    }

    > p:nth-of-type(1) {
      padding-left: calc(#{$MARGIN_CALC} + #{$ICON_HEIGHT} + 4ch);
      border-top-color: $COLOR;
      border-bottom-color: $HIGHLIGHT;

      background-image: url(../images/lnr-magic-wand.svg);
      background-position-x: calc(#{$RELATIVE_MARGIN_CALC});

      @media screen and (max-width: $MINIMUM_WINDOW) {
        padding-left: calc(2*#{$COMPRESSED_PADDING} + 4em);
        background-position-x: $COMPRESSED_PADDING;
      }
    }

    > p:nth-of-type(2) {
      padding-right: calc(#{$MARGIN_CALC} + #{$ICON_HEIGHT} + 4ch);
      border-top-color: $HIGHLIGHT;
      border-bottom-color: $COLOR;

      background-image: url(../images/lnr-chart-bars.svg);
      background-position: calc(100% - #{$RELATIVE_MARGIN_CALC});

      @media screen and (max-width: $MINIMUM_WINDOW) {
        padding-right: calc(2*#{$COMPRESSED_PADDING} + 4em);
        background-position-x: calc(100% - #{$COMPRESSED_PADDING});
      }
    }

    > p:nth-of-type(3), > p:nth-of-type(4) {
      width: 100%;
      clear: left;
      text-align: center;
      font-size: 24pt;
      font-weight: bold;
      margin: 0;
      padding: 3ch calc(#{$MARGIN_CALC});
      font-weight: bold;
      position: relative;
      color: white;
      @include stroke(1px, rgba(0,0,0,0.2));

      $BAR_HEIGHT: "(4em + 4*3ch)"; // TODO
      $FIRST_BAR_HEIGHT: "(1em + 2*3ch)";
      $ICON_HEIGHT: "(#{$BAR_HEIGHT}/1.5)";

      &:nth-of-type(3) {
        &::after, &::before {
          background-position-y: calc((#{$BAR_HEIGHT} - #{$ICON_HEIGHT}) / 2 + 5px); //yolo
        }
      }

      &:nth-of-type(4) {
        &::after, &::before {
          background-position-y: calc((#{$BAR_HEIGHT} - #{$ICON_HEIGHT}) / 2 - #{$FIRST_BAR_HEIGHT});
        }

        margin-bottom: 1em;
      }

      &::after, &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;

        background-size: calc(#{$ICON_HEIGHT});
        background-repeat: no-repeat;
      }

      &::after {
        left: 50%;
        right: 0;
        background-color: $COLOR;
        @include inline-svg($HIGHLIGHT, $DATABASE_SVG);
        background-position-x: calc(-1 * #{$ICON_HEIGHT}/2);
      }

      &::before {
        left: 0;
        right: 50%;
        background-color: $HIGHLIGHT;
        @include inline-svg($COLOR, $DATABASE_SVG);
        background-position-x: calc(100% + #{$ICON_HEIGHT}/2);
      }
    }

    > p > a {
      &, button {
        margin: 0 auto;
        display: block;
        text-decoration: none;
      }

      button {
        border: outset $COLOR 1px;
        border-radius: 5px;
        background-color: $COLOR;
        padding: 1ch 3ch;
        color: white;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 18pt;
        text-decoration: none;
        cursor: pointer;
        @include stroke(1px, rgba(0,0,0,0.2));

        &:active {
          border-style: inset;
        }

        &::after {
          content: '\0279C';
          padding-left: 1ch;
        }

      }
    }


    section {
      @include expand-to-window();

      &:nth-of-type(odd) {
        background-color: white;
      }

      .client {
        display: inline-block;
        border: 2px solid $HIGHLIGHT;
        padding: 0.5ch;
      }
    }
  }

  footer {
    display: block;
    padding-top: 2ch;
    padding-bottom: 2ch;
    @include vertical-gradient(gray, darken(gray, +5%));
    @include expand-to-window();
    color: white;
    font-size: 10pt;
    margin: 2ch auto 0;

    &::after {
      content: "Icons by Perxis (linearicons.com) used under CC BY-SA 4.0";
    }
  }
}