---
---
$MINIMUM_WINDOW: 1024px - 1px;

$BODY_SIZE: 960px;
$COLUMNS: 12;
$COLUMN_SIZE: ($BODY_SIZE / $COLUMNS) * 4/5;
$COLUMN_GAP: ($BODY_SIZE / $COLUMNS) * 1/5;
@function columns($n) {
  @return ($COLUMN_SIZE + $COLUMN_GAP) * $n - $COLUMN_GAP;
}

$HIDE_LOGO: 550px - 1px;
$HIDE_MENU: 800px; // trial and error
$COMPRESSED_HEADER: 720px - 1px;
$COMPRESSED_PADDING: ($MINIMUM_WINDOW - $BODY_SIZE) / 2;
$MARGIN_CALC: '((100% - #{$BODY_SIZE})/2)';
$RELATIVE_MARGIN_CALC: '((100vw - #{$BODY_SIZE})/2)';

$DARK_GREEN: rgb(0, 70, 30);
$LIGHT_GREEN: rgb(200, 250, 100);
$TEXT_GREEN: rgb(75, 95, 70);
$ILLUS_BLUE: rgb(180, 250, 255);
$ILLUS_ORANGE: rgb(250, 212, 100);
$ILLUS_RED: rgb(250, 130, 130);
$ILLUS_PURPLE: rgb(159, 107, 255);

$HEADLINE: 'DM Serif Display', serif;
$SUBHEADS: 'Chivo', sans-serif;
$BODYTEXT: 'Chivo', sans-serif;

@function inline-svg($svg) {
  @return url('data:image/svg+xml;utf8, #{$svg}');
}

@function expand-color($color) {
  @return 'rgb(#{red($color)}, #{green($color)}, #{blue($color)})';
}

@page {
  margin-top: 2em;
}

@mixin expand-to-window() {
  width: 100%;
  max-width: none;
  box-sizing: border-box;
  padding-left: calc(#{$MARGIN_CALC});
  padding-right: calc(#{$MARGIN_CALC});

  @media screen and (max-width: $MINIMUM_WINDOW) {
    padding-left: $COMPRESSED_PADDING;
    padding-right: $COMPRESSED_PADDING;
  }
}

@mixin mobile-menu-button($id, $size) {
  a[href='##{$id}'] {
    display: none;
  }

  @media screen and (max-width: $HIDE_MENU) {
    &:not(:target) a[href='##{$id}'] {
      display: block;
      text-indent: 100%;
      overflow: hidden;
      width: $size;
      min-width: $size;
      min-height: $size;
      padding: 0 !important;
      margin: 0;
      align-self: stretch;
      background-size: $size 100%;
      background-image: inline-svg(
        '<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="141.91602" height="133.70395" viewBox="0 0 141.91602 133.70395"> <style type="text/css">*{stroke: #{expand-color($LIGHT_GREEN)}; stroke-width:21.16666603; stroke-linecap:round}</style> <path d="M 10.734066,10.58439 H 131.18195" /> <path d="M 10.734066,123.11955 H 131.18195" /> <path d="M 10.734066,66.85197 H 131.18195" /> </svg>'
      );
      background-repeat: no-repeat;
    }

    &:target a[href='##{$id}'] {
      display: none;
    }
  }
}

body {
  width: 100%;
  margin: 0;
  background: white;
  color: $TEXT_GREEN;
  font-family: $BODYTEXT;
  font-weight: normal;
}

h1 {
  font-family: $HEADLINE;
  color: $DARK_GREEN;
  font-size: 44px;
  letter-spacing: -1px;
  margin-top: $COLUMN_SIZE;
}

h2, h3, h4, h5, h6 {
  font-family: $SUBHEADS;
  font-weight: bold;
  color: $DARK_GREEN;
}

a {
  color: inherit;
}

[role~='button'] {
  display: inline-block;
  padding: $COLUMN_GAP/2 $COLUMN_GAP;
  background: $DARK_GREEN;
  color: white;
  font-weight: bold;
  border-radius: $COLUMN_GAP * 2;
  text-decoration: none;
}

#menu {
  background: $DARK_GREEN;
  color: $LIGHT_GREEN;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $COLUMN_GAP * 2 $COLUMN_GAP;
  @include expand-to-window();
  @include mobile-menu-button('menu', $COLUMN_GAP * 1.5);

  a {
    text-decoration: none;
    font-size: 20px;
  }

  [role~='button'] {
    background: $LIGHT_GREEN;
    color: $DARK_GREEN;
  }

  > * {
    flex-grow: 0;
    margin-right: 2ch;

    &:first-child {
      margin-right: auto;
    }
  }

  @media screen and (max-width: $HIDE_MENU) {
    &:not(:target) > *:not(:first-child) {
      display: none;
    }
    &:target {
      flex-direction: column;
      align-items: start;

      > * { margin-bottom: $COLUMN_GAP; }
    }
  }

  #logo {
    width: columns(2.5);
    display: flex; // alignment fix

    img {
      width: 100%;
      height: 100%;
    }
  }
}

main {
  max-width: $BODY_SIZE;
  margin: 0 auto;

  @media screen and (max-width: #{960px + 2*$COLUMN_GAP}) {
    margin: auto $COLUMN_GAP;
  }
}

header, footer, header *, footer * {
  background: $DARK_GREEN;
  color: white;

  @media screen and (max-width: $BODY_SIZE) {
    overflow: hidden;

    svg {
      margin: 0 -50%;
      min-height: 33vh;
    }
  }
}

header.report {
  @include expand-to-window();
  padding-top: $COLUMN_SIZE;
  padding: $COLUMN_SIZE calc((100% - 720px)/2);
  margin-bottom: $COLUMN_SIZE;
  position: relative;

  h1 {
    font-size: 65px;
    margin-top: 0;
  }
}

article, aside {
  margin: 0 auto;
  max-width: 720px;

  h1 {
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 0.5em;
    margin-top: $COLUMN_SIZE;
  }

  .client {
    margin-bottom: 2em;
  }

  img {
    margin: 0 auto;
    max-width: 100%;
  }

  @media screen and (max-width: #{720px + 2*$COLUMN_GAP}) {
    margin: 0 $COLUMN_GAP;
  }
}

.license {
  font-style: italic;
}

#markdown-toc {
  padding: $COLUMN_GAP $COLUMN_GAP*2;
  border: 1px solid $DARK_GREEN;
}

.sharezone {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;

  :first-child {
    margin-left: auto;
  }

  a {
    margin-left: 10px;
    border-radius: 3em;
    text-indent: 100%;
    overflow: hidden;
    width: 48px;
    height: 48px;
    background-color: $DARK_GREEN;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 50%;

    &[href^="https://www.twitter.com/intent/tweet"] {
      background-image: url({{ "/images/Twitter_Logo.svg" | prepend: site.baseurl }});
    }

    &[href^="https://facebook.com/sharer"] {
      background-image: url({{ "/images/Facebook_Logo.png" | prepend: site.baseurl }});
    }

    &[href^="https://linkedin.com/shareArticle"] {
      background-image: url({{ "/images/LinkedIn_Logo.svg" | prepend: site.baseurl }});
    }
  }
}

.biog {
  display: grid;
  grid-template-columns: 1*$COLUMN_SIZE 5fr;
  grid-column-gap: 2*$COLUMN_GAP;
  grid-row-gap: 1em;
  margin-top: 3*$COLUMN_GAP;
  padding: 2*$COLUMN_GAP;
  background: $LIGHT_GREEN;

  * {
    margin: 0;
  }

  @media screen and (max-width: $HIDE_LOGO) {
    grid-template-columns: 100%;
  }

  img {
    width: 100%;
    border-radius: 50%;
    grid-column: 1;
    grid-row: span 4;

    @media screen and (max-width: $HIDE_LOGO) {
      width: $COLUMN_SIZE;
    }
  }

  span {
    font-weight: bold;
    font-size: 130%;
  }

  @media screen and (min-width: $HIDE_LOGO) {
    span, p {
      grid-column: 2;
    }
  }
}

.highlight {
  background: $LIGHT_GREEN;
  color: $DARK_GREEN;
}

// Front-page
section {
  display: grid;
  grid-template-columns: repeat(12, $COLUMN_SIZE);
  grid-column-gap: $COLUMN_GAP;
  grid-row-gap: 1em;
  margin-top: $COLUMN_SIZE;

  @media screen and (max-width: $BODY_SIZE) {
    grid-template-columns: repeat(2, 1fr);

    > * {
      grid-column: span 1 !important;
    }
  }

  @media screen and (max-widtH: $BODY_SIZE * 0.66) {
    grid-template-columns: 100%;
  }
}

#top {
  margin-top: $COLUMN_SIZE * 1.5;
  grid-row-gap: 2em;

  img {
    width: 100%;
    height: 100%;
    grid-column: span 5;
    grid-row: span 2;
  }

  h1 {
    line-height: 1.1em;
  }

  h1, h2, p {
    margin: 0;
    grid-column: 7 / span 6;
  }

  p {
    margin: 0;
    font-size: 120%;

    [role~=button] {
      margin-left: 1ch;
    }
  }
}

#logos {
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 4em;
  grid-auto-rows: 160px;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

#registers {
  padding: $COLUMN_SIZE 0;
  margin-top: $COLUMN_SIZE*2;
  position: relative;

  @media screen and (max-width: $BODY_SIZE) {
    padding: $COLUMN_SIZE/2;
  }

  h1 {
    margin: 0;
    grid-column: 2 / -2;
  }

  [role~='button'] {
    position: absolute;
    right: columns(2.5);
    bottom: 9em;

    @media screen and (max-width: $BODY_SIZE) {
      right: $COLUMN_GAP;
      bottom: $COLUMN_GAP;
    }
  }

  .window {
    $VERT_PAD: $COLUMN_GAP;
    $HORZ_PAD: $COLUMN_GAP * 2;

    grid-column: 3 / span 7;
    border: 5px solid $DARK_GREEN;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: $VERT_PAD $HORZ_PAD;

    font-size: 86%;
    line-height: 28px;

    &::before {
      content: '';
      display: block;
      width: calc(100% + #{$HORZ_PAD});
      height: 25px;
      position: relative;
      left: -5px - $HORZ_PAD;
      top: -$VERT_PAD;
      border-bottom: inherit;
      background-size: auto 80%;
      background-repeat: no-repeat;
      background-position-y: 100%;
      background-image: inline-svg(
        '<svg xmlns="http://www.w3.org/2000/svg" width="155" height="45" viewBox="0 0 155 45" version="1.1"><style>rect{fill:#{expand-color($LIGHT_GREEN)}} circle{fill:white}</style> <rect width="20" height="25" x="0" y="20" /> <circle cx="45" cy="15" r="15" /> <circle cx="90" cy="15" r="15" /> <circle cx="135" cy="15" r="15" /> </svg>'
      );
    }

    > * {
      max-width: columns(5);
    }

    > svg {
      max-width: columns(3);
    }
  }
}

.projects {
  display: block;
  grid-column: span 4;
  height: $COLUMN_SIZE * 4;
  padding: $COLUMN_GAP;
  text-decoration: none;
  position: relative;

  &:nth-child(4n + 1) { background-color: $ILLUS_RED; }
  &:nth-child(4n + 2) { background-color: $ILLUS_ORANGE; }
  &:nth-child(4n + 3) { background-color: $ILLUS_PURPLE; }
  &:nth-child(4n + 4) { background-color: $ILLUS_BLUE; }
  &:nth-child(2n + 1) h2 { color: white; }

  a {
    margin: 0;
  }

  h2 {
    margin: 0;
    font-family: $HEADLINE;
    font-size: 42px;
    line-height: 1;
    font-weight: normal;
  }

  h4 {
    margin: 0;
    position: absolute;
    bottom: $COLUMN_GAP;
  }
}

.client {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 130%;
}

footer {
  @include expand-to-window();
  min-height: 20vh;
  padding-top: 3*$COLUMN_GAP;
  padding-bottom: 3*$COLUMN_GAP;
  margin-top: 3*$COLUMN_GAP;

  *, h2, h3 {
    color: white;
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  > * {
    float: left;
  }

  img {
    width: 200px;
    max-width: 75%;
  }

  nav {
    display: flex;
    float: right;

    @media screen and (max-width: 690px) {
      float: left;
      flex-direction: column;
    }

    h3 {
      margin-top: 0;
    }

    > * {
      width: 200px;
    }

    a {
      display: block;
      margin-bottom: 1em;
    }
  }
}

// What we do
#services {
  grid-template-columns: 100% !important;
  grid-row-gap: 3 * $COLUMN_GAP;
}

.services {
  display: grid;
  grid-template-columns: repeat(12, #{$COLUMN_SIZE});
  grid-column-gap: $COLUMN_GAP;
  grid-row-gap: $COLUMN_GAP;

  @media screen and (max-width: $BODY_SIZE) {
    grid-template-columns: repeat(12, 1fr);
  }

  @media screen and (max-width: $HIDE_LOGO) {
    grid-template-columns: 100%;

    > * {
      grid-column: span 1 !important;
    }
  }

  h2 {
    font-size: 200%;
  }

  h3 {
    font-size: 140%;
    font-weight: normal;
  }

  * {
    margin: 0;
  }

  img {
    max-height: none !important;
    grid-row: 1 / span 5;
  }

  $IMG_WIDTH: 4;

  &:nth-of-type(odd) {
    *   { grid-column: #{$IMG_WIDTH + 2} / -1; }
    img { grid-column: 1 / span #{$IMG_WIDTH}; }
  }

  &:nth-of-type(even) {
    *   { grid-column: 1 / -#{$IMG_WIDTH + 2}; }
    img { grid-column: span #{$IMG_WIDTH} / -1; }
  }

  time {
    display: none;
  }
}

.authors {
  img {
    width: 50%;
    border-radius: 50%;
  }

  time {
    display: none;
  }
}

section > .post {
  grid-column: span 4;
}

.post img {
  max-width: 100%;
  max-height: 220px;
  margin: 0 auto;
  display: block;
}

#insights {
  > h2:first-of-type {
    grid-column: 1 / 8;
    grid-row: 1;
  }

  @media screen and (max-width: $HIDE_LOGO) {
    grid-template-columns: 100%;

    > h2 {
      grid-row: auto !important;
    }
  }

  #posts {
    margin-top: 0;
    grid-column: 1 / 8;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3*$COLUMN_GAP;
    grid-row-gap: 3*$COLUMN_GAP;

    @media screen and (max-width: $HIDE_LOGO) {
      grid-template-columns: 100%;
    }

    > * {
      grid-column: span 1;
    }
  }

  > h2:last-of-type {
    grid-column: 9 / -1;
    grid-row: 1;
  }

  [id=""] {
    margin-top: 0;
    grid-column: 8 / -1;
    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: $HIDE_LOGO) {
      border-left: 2px solid $DARK_GREEN;
      padding-left: $COLUMN_SIZE/2 + $COLUMN_GAP;
      margin-left:  $COLUMN_SIZE/2;
    }
  }
}

// Reports
[data-collection='data-trusts'] {
  #menu :not(:first-child), #menu [href="#menu"] {
    display: none;
  }

  #toplink {
    position: absolute;
    font-weight: bold;
    right: calc(#{$RELATIVE_MARGIN_CALC});
    top: -$COLUMN_SIZE;
  }

  h2 {
    margin-top: 3em;
  }

  section {
    padding: 2*$COLUMN_GAP;
    grid-template-columns: 1fr 3fr;
    border-bottom: 5px solid transparent;

    h2 {
      font-family: $HEADLINE;
      margin: -2*$COLUMN_GAP -2*$COLUMN_GAP $COLUMN_GAP;
      padding: 2*$COLUMN_GAP;

      grid-column: span 2;
      font-size: 250%;
    }

    @mixin block-color($index, $color) {
      &:nth-of-type(4n+#{$index}) {
        border-color: $color;
        h2 { background: $color; }
      }
    }

    @include block-color(1, $ILLUS_ORANGE);
    @include block-color(2, $ILLUS_PURPLE);
    @include block-color(3, $ILLUS_BLUE);
    @include block-color(4, $ILLUS_RED);

    &:nth-of-type(even) h2 {
      color: white;
    }
  }
}

[itemprop='author'], time {
  font-weight: bold;
  font-size: 12pt;
  margin-right: 2.5ch;

  &::after {
    padding-left: 3ch;
    font-size: 60%;
    vertical-align: super;
  }
}

// {% include fonts.css %}
