---
title: Technology for Data Trusts report
date: 2019-01-01 00:00:00
layout: default
menu:
  The need for audit technology:
    - personal-data
  Case studies:
    - aquae-model
    - certificate-transparency-and-deepmind
---

<header>
  <h2 style="font-size: 48pt">{{ page.title }}</h2>
  <h3>{{ page.date | date: "%d %B %Y" }}</h3>
</header>

<article>
<p>A data trust is a legal structure that encourages participation by increasing the amount of data available to participants so that they can use it to deliver more value to the beneficiaries than could be delivered by the component data sets in isolation. This makes sense but it does not explain why participants would choose a data trust over less complicated arrangements.</p>

<p><strong>TODO: write a proper intro.</strong></p>

<p>Data trusts are not the only way of sharing data for mutual benefit but if they are shown to have significant advantages over the alternatives they will become the default and expected way of sharing data.</p>

<p>This will create a virtuous cycle whereby the use of data trusts will benefit society as a whole, rather than just the individual participants of a particular trust.</p>

<p>if the records of a data trust can be made robust and complete enough to be auditable then external audit can provide similar reputational benefits in data handling circles. This will make data trusts the vehicle of choice for data sharing and, over time, people who choose not to use them not only will not receive reputational benefits but will leave themselves open to good questions as to their intentions.</p>

<p>This has already been attempted successfully a number of times but the technology is still young and is mainly the product of a small handful of pioneers.</p>

{% for section in page.menu %}
<section>
  <h2>{{ section[0] }}</h2>
    {% for slug in section[1] %}
    {% assign post = site.data-trusts | where: 'slug', slug | first %}
      <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
      <p>{{post.excerpt}}</p>
    {% endfor %}
</section>
{% endfor %}

</article>