---
layout: default
---
<h2>
  <span>Stop getting stuck with</span><br/>
  <span>the "next big thing".</span>
</h2>

<h2>
  <span>Start getting</span><br/>
  <span>value from your data.</span>
</h2>

<main>
  <p>
    Your engineering team is amazing,
    but they don't know how your
    business needs to use data.
  </p>

  <p>
    Your business team is amazing,
    but they don't know how your
    data can help them.
  </p>

  <p>We bridge the gap.</p>

  <p>
    We develop strategies and products<br/>
    that let you use your data<br/>
    to strengthen your business.
  </p>

  <p>Register Dynamics works with companies and governments to apply their data usefully, responsibly and ethically. Our expertise ranges from tiny  telemetry systems with one or two stakeholders up to database clusters with thousands of nodes used by several business units.</p>

  <p>We identify areas where organisations aren't using data effectively, develop a strategy to fix this, and carry it out with help from specialist data technology.</p>

  <p><a href="mailto:hello@register-dynamics.co.uk">Get in touch</a></p>

  <h3>What we've done for our users</h3>

  {% for name in site.order %}
  {% assign project = site.projects | where: 'slug', name | first %}
  <section id="{{ project.slug }}">
    <h3>{{ project.title }}</h3>
    {% if project.client %}
      <h4 class="client">{{ project.client }}</h4>
    {% endif %}
    <h4>We used {{ project.data | downcase }} to help {{ project.application | downcase }}.</h4>
    {{ project.content }}
    <a href="#{{ project.slug }}"></a>
  </section>
  {% endfor %}

  <p><a href="mailto:hello@register-dynamics.co.uk">Get in touch</a></p>
</main>
