---
layout: default
logos:
  - GDS_logo.png
  - MOJ_logo.png
  - defra_logo.svg
  - desmog_logo.jpg
  - "Office for AI logo.png"
  - knodium-logo.svg
---
<header>
  {% include illustration-seethebigpicture.svg %}
</header>

<main>
<section id=top>
  <img src='{{ "Combination.svg" | prepend: "images/" | prepend: site.baseurl }}' alt="Image of database cylinder connected to a big bald head and a cube">
  <h1>We develop new technology, frameworks and models to support better use of data.</h1>
  <h2>We are a team of data strategists and technologists supporting organisations in the public and private sectors to embed best practises in data.</h2>
  <p>Our specialisms are in emerging technologies (such as data trusts and personal data exchange), and linked reference data.</p>
  <p>Our mission is to instil best practises in data within government and to make data truly useful for everyone.</p>
  <p>Need help with data? <a role="button" href='mailto:hello@register-dynamics.co.uk'>Let's Talk</a></p>
</section>

<h1>Who we work with</h1>
<section id=logos>
  {% for logo in page.logos %}
    {% include image.html src=logo %}
  {% endfor %}
</section>

<section id=registers class=bright>
  <h1>
    Need a home for your data?<br>
    We've got a service for that too.
  </h1>
  <div class=window>
    {% include registers-logo.svg %}
    <h2>
      A digital service for creating, maintaining and sharing
      linked reference data with accuracy and ease, made by us.
    </h2>
  </div>
  <a role=button href="https://registers.app">Find out more</a>
</section>

<h1>What we've done for our users</h1>
{% include listing.html source="projects" template="project.html" limit=6 %}

<h1>Our latest insights</h1>
{% include listing.html source="posts" limit=3 %}

</main>
