{% assign main = include.page | default: include %}
{% assign cg__columns = main.columns | default: 1 %}
{% assign cg__numbered = main.numbered | default: false %}

{% assign cg__content = "" | split: "" %}
{% for block in main.sections %}
  {% capture str %}{% include {{ block.template }}.html page=block %}{% endcapture %}
  {% assign cg__content = cg__content | push: str %}
{% endfor %}

{% include grid.html
    content=cg__content
    columns=cg__columns
    numbered=cg__numbered
%}
