{% assign main = include.page | default: include %}
{% assign limit = main.limit | default: 999 %}
{% assign image_mode = main.image_mode | default: 'cover' %}

{% if main.list %}
  {% assign list = main.list %}
  {% assign docs = "" | split: "" %}
  {% for meta in main.list %}
    {% assign collection = site.collections | where: "label", meta.collection | first %}
    {% assign doc = collection.docs | where: "slug", meta.slug | first %}
    {% assign docs = docs | push: doc %}
  {% endfor %}
{% else %}
  {% assign collection = site.collections | where: "label", main.source | first %}
  {% assign docs = collection.docs | sort: "date" | reverse | slice: 0, limit %}
{% endif %}

{% assign len = main.source | size | minus: 1 %}
{% assign template = main.source | slice: 0, len %}
{% if template == empty or template == '' %}
  {% assign template = "post" %}
{% endif %}

{% include content-grid.html
    content=docs
    item_template=template
    columns=main.columns
    coloured=main.coloured
    numbered=main.numbered
    image_mode=image_mode
%}
