<div class="post {{ post.collection }}">
  {% assign collection = site.collections | where: "label", post.collection | first %}
  {% if collection.output or post.location %}
  <a href="{% if post.location %}{{ post.location }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">
  {% endif %}
    {% if post.image %}
      {% include image.html src=post.image %}
    {% endif %}
    <h2>{{ post.title }}</h2>
  {% if collection.output or post.location %}
  </a>
  {% endif %}
  {% if post.date %}
    <time datetime="{{ post.date | date: '%Y-%m-%d' }}">({{ post.date | date: "%b %Y" }})</time>
  {% endif %}
  {% if page.full %}
    {{ post.content }}
  {% else %}
    {{ post.excerpt | markdownify }}
  {% endif %}
</div>
