@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('altehaasgroteskbold.woff2') format('woff2'),
         url('altehaasgroteskbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('altehaasgroteskregular.woff2') format('woff2'),
         url('altehaasgroteskregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-Regular.woff2') format('woff2'),
         url('PublicSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-Bold.woff2') format('woff2'),
         url('PublicSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-Italic.woff2') format('woff2'),
         url('PublicSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-BoldItalic.woff2') format('woff2'),
         url('PublicSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
