---
layout: default
---
{% for author in site.authors %}
  {% if author.title == page.author %}
    {% assign biog = author %}
  {% endif %}
{% endfor %}

<article>
  <h2>{{ page.title }}</h2>
  <a href="{{ biog.url }}" itemprop="author">{{ page.author }}</a>
  <time>{{ page.date | date: '%d %B %Y' }}</time>
  {{ page.content }}
</article>

<aside>
  <div class="sharezone">
    Share this post:
    <a href="https://linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.url | url_encode }}" target="_blank">LinkedIn</a>
    <a href="https://www.twitter.com/intent/tweet?url={{ page.url | prepend: site.url | url_encode }}&via={{ site.twitter.username }}" target="_blank">Twitter</a>
    <a href="https://facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | url_encode }}" target="_blank">Facebook</a>
  </div>

  {% if biog.content %}
  <div class="biog">
    <img src="{{ site.url }}/{{ biog.image }}"/>
    <span>{{ page.author }}</span>
    {{ biog.content | markdownify }}
  </div>
  {% endif %}

  {% for license in page.licenses %}
  <span class="license">
    {{ license | markdownify }}
  </span>
  {% endfor %}
</aside>
