---
layout: default
---
{% if page.author %}
  {% assign authors = page.author | split: ';' %}
{% else %}
  {% assign authors = page.authors %}
{% endif %}


<article>
  <h2>{{ page.title }}</h2>
  {% for pageauthor in authors %}
    {% for author in site.authors %}
      {% if author.title == pageauthor %}
        {% assign biog = author %}
      {% endif %}
    {% endfor %}
  <a href="{{ biog.url }}" itemprop="author">{{ pageauthor }}</a>
  {% endfor %}
  <time>{{ page.date | date: '%d %B %Y' }}</time>
  {{ page.content }}
</article>

<aside>
  <div class="sharezone">
    Share this post:
    <a href="https://linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.url | url_encode }}" target="_blank">LinkedIn</a>
    <a href="https://www.twitter.com/intent/tweet?url={{ page.url | prepend: site.url | url_encode }}&via={{ site.twitter.username }}" target="_blank">Twitter</a>
    <a href="https://facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | url_encode }}" target="_blank">Facebook</a>
  </div>

{% for pageauthor in authors %}
  {% for author in site.authors %}
    {% if author.title == pageauthor %}
      {% assign biog = author %}
    {% endif %}
  {% endfor %}

  {% if biog.content %}
  <div class="biog">
    <img src="{{ site.url }}/{{ biog.image }}"/>
    <span>{{ pageauthor }}</span>
    {{ biog.content | markdownify }}
  </div>
  {% endif %}
{% endfor %}

  {% for license in page.licenses %}
  <span class="license">
    {{ license | markdownify }}
  </span>
  {% endfor %}
</aside>
