---
layout: default
---
{% for author in site.data.authors %}
  {% if author[0] == page.author %}
    {% assign twitter = author[1].twitter %}
  {% endif %}
{% endfor %}

<article>
  <h2>{{ page.title }}</h2>
  <a href="https://twitter.com/{{ twitter }}" itemprop="author">{{ page.author }}</a>
  <time>{{ page.date | date: '%d %B %Y' }}</time>
  {{ page.content }}
</article>

<aside>
  <div class="sharezone">
    Share this post:
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.url | url_encode }}" target="_blank">LinkedIn</a>
    <a href="https://twitter.com/intent/tweet?url={{ page.url | prepend: site.url | url_encode }}&via={{ site.twitter_username }}" target="_blank">Twitter</a>
    <a href="https://facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | url_encode }}" target="_blank">Facebook</a>
  </div>

  {% for license in page.licenses %}
  <span class="license">
    {{ license | markdownify }}
  </span>
  {% endfor %}
</aside>
