<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' type='image/svg+xml' sizes='any' href='/images/logo.svg'>
    <link rel='icon' type='image/png' sizes='400x400' href='/images/logo-2.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='/images/logo-small.png'>
    <link rel='stylesheet' type='text/css' href='/fonts/stylesheet.css'>
    <link rel='stylesheet' type='text/css' href='/css/the.css'>
    {% seo %}
  </head>
  <body data-title="{{ page.title }}" data-collection="{{ page.collection }}">
    <h1><a href="/">Register Dynamics</a></h1>
    <ul>
      <li>Data</li>
      <li>Strategy</li>
      <li>Delivery</li>
    </ul>
    <nav id="menu">
      <a href="/blog">Blog</a>
      <a href="/publications">Publications</a>
      <a href="/#work">Case Studies</a>
    </nav>
    <a href="#menu">☰</a>
    <a href="mailto:hello@register-dynamics.co.uk">hello@register-dynamics.co.uk</a>
    <a href="https://twitter.com/{{ site.twitter.username }}">@{{ site.twitter.username }}</a>
    {{ content }}
    <script type="text/javascript">
      var sc_project=11787269;
      var sc_invisible=1;
      var sc_security="0dacb22d";
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><img src="//c.statcounter.com/11787269/0/0dacb22d/1/" alt=""></noscript>
    <footer>&copy; Register Dynamics Ltd. Best viewed in w3m.</footer>
  </body>
</html>