<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' type='image/svg+xml' sizes='any' href='{{ "/images/logo.svg" | prepend: site.baseurl }}'>
    <link rel='icon' type='image/png' sizes='400x400' href='{{ "/images/logo-2.png" | prepend: site.baseurl }}'>
    <link rel='icon' type='image/png' sizes='32x32' href='{{ "/images/logo-small.png" | prepend: site.baseurl }}'>
    <link rel='stylesheet' type='text/css' href='{{ "/css/the.css" | prepend: site.baseurl }}'>
    {% seo %}
  </head>
  <body data-title="{{ page.title }}" data-collection="{{ page.collection }}">
    <nav id="menu">
      <a href='{{"/" | prepend: site.baseurl }}' id=logo><img src='{{ "/images/logo-landscape.svg" | prepend: site.baseurl }}' alt="Register Dynamics"></a>
      <a href="#menu">Menu</a>
      <a href='{{"/what-we-do" | prepend: site.baseurl }}'>What We Do</a>
      <a href='{{"/case-studies" | prepend: site.baseurl }}'>Case Studies</a>
      <a href='{{"/insights" | prepend: site.baseurl }}'>Insights</a>
      <a href='{{"/jobs" | prepend: site.baseurl }}'>Jobs</a>
      <a href='mailto:hello@register-dynamics.co.uk' role="button">Let's Talk</a>
    </nav>
    {{ content }}
    <script type="text/javascript">
      var sc_project=11787269;
      var sc_invisible=1;
      var sc_security="0dacb22d";
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><img src="//c.statcounter.com/11787269/0/0dacb22d/1/" alt=""></noscript>
    <footer>
      <div>
        <img src='{{ "/images/logo-landscape-darkgreen.svg" | prepend: site.baseurl }}' alt="Register Dynamics" />
        <h3>&copy;&nbsp;<a href='{{ "/" | prepend: site.baseurl }}'>Register Dynamics</a> {{ 'now' | date: "%Y" }}</h3>
        <p><a href='mailto:hello@register-dynamics.co.uk'>Contact us</a></p>
        <p style="font-size: 12px">
          Registered in England & Wales, number: 10023437<br/>
          VAT number: 233 9617 95
        </p>
      </div>
      <nav>
        <div>
          <h3>Resources</h3>
          <a href="https://registers.blog">Blog</a>
          <a href="https://www.digitalmarketplace.service.gov.uk/g-cloud/services/623011781239799">G-Cloud</a>
          <a href="https://www.github.com/register-dynamics">Github</a>
        </div>
        <div>
          <h3>Company</h3>
          <a href="https://twitter.com/RegDyn">Twitter</a>
          <a href="https://facebook.com/registerdynamics">Facebook</a>
          <a href="https://uk.linkedin.com/company/register-dynamics">LinkedIn</a>
          <a href='{{"/jobs" | prepend: site.baseurl }}'>Jobs</a>
          <a href='{{"/what-we-do/carbon-reduction-plan.html" | prepend: site.baseurl }}'>Carbon reduction plan</a>
        </div>
      </nav>
    </footer>
  </body>
</html>
