<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel='icon' type='image/svg+xml' sizes='any' href='images/logo.svg'>
    <link rel='icon' type='image/png' sizes='400x400' href='images/logo-2.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='images/logo-small.png'>
    <link rel='stylesheet' type='text/css' href='fonts/stylesheet.css'>
    <link rel='stylesheet' type='text/css' href='css/the.css'>
  </head>
  <body>
    {{ content }}
  </body>
</html>