---
layout: default
---

<main>
<section id=top>
  <img src='{{ "Combination.svg" | prepend: "images/" | prepend: site.baseurl }}' alt="Image of database cylinder connected to a big bald head and a cube">
  <h1>{{ page.headline }}</h1>
  <h2>{{ page.subhead }}</h2>
  <p>{{ page.pre_call_to_action}} <a role="button" href='{{ page.call_to_action_link }}'>{{ page.call_to_action }}</a></p>
</section>

<h1>{{ page.logos_header }}</h1>
<section id=logos>
  {% for logo in page.logos %}
    {% include image.html src=logo %}
  {% endfor %}
</section>

<h1>{{ page.case_studies_header }}</h1>
{% include listing.html source="projects" template="project.html" limit=page.case_studies %}
<p><a role="button" href='/case-studies'>{{ page.case_studies_button }}</a></p>

<h1>{{ page.insights_header }}</h1>
{% include listing.html source="posts" limit=page.insights %}
<p><a role="button" href='/insights'>{{ page.insights_button }}</a></p>

</main>

<header style="margin-bottom: -64px">
  {% include illustration-seethebigpicture.svg %}
</header>
