---
layout: default
---
{% assign collection = site.collections | where: "label", page.collection | first %}

<header>
  <h2 style="font-size: 58pt">{{ page.title }}</h2>
  <h3>A report by <a href="{{ site.url }}">Register Dynamics</a> &bull; {{ page.date | date: "%d %B %Y" }}</h3>
  <a id="toplink" href="{{ page.url }}">{{ page.title }}</a>
</header>

<article>
{{ content }}

{% for section in page.menu %}
<section>
  <h2>{{ section[0] }}</h2>
    {% for slug in section[1] %}
    {% assign post = collection.docs | where: 'slug', slug | first %}
      <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
      <p>{{post.excerpt}}</p>
    {% endfor %}
</section>
{% endfor %}

<h2>Acknowledgements</h2>
{{ page.acknowledgements | markdownify }}

{% for license in page.licenses %}
<span class="license">
  {{ license | markdownify }}
</span>
{% endfor %}

</article>