---
layout: default
---
{% if page.authors %}
  {% assign authors = page.authors %}
{% else %}
  {% assign authors = page.author | split: ", " %}
{% endif %}
{% assign collection = site.collections | where: "label", page.collection | first %}
{% assign index = collection.docs | where: "slug", "index" | first %}

<header>
  <h2>{{ page.title }}</h2>
  <h3>— from the <a href="{{ index.url }}">"{{ index.title }}" report</a></h3>
  <a id="toplink" href="{{ index.url }}">{{ index.title }}</a>
</header>
<article>
  {% for page_author in authors %}
    {% for author in site.data.authors %}
      {% if author[0] == page_author %}
        {% assign twitter = author[1].twitter %}
        <a href="https://twitter.com/{{ twitter }}" itemprop="author">{{ page_author }}</a>
      {% endif %}
    {% endfor %}
  {% endfor %}
  <time>{{ page.date | date: '%d %B %Y' }}</time>
  {{ page.content }}

  {% for license in page.licenses %}
  <span class="license">
    {{ license | markdownify }}
  </span>
  {% endfor %}
</article>